*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    
}
.navbar{
    height: fit-content;
}
main{
    background-image: url("../image/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.spacing{
    padding-top: 100px;
    overflow-x: hidden;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}
.container .hero-pic {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 0 0 20px 5px rgba(85, 244, 255, 0.78);
    transition: box-shadow 0.3s ease-in-out;
}

.container .hero-pic:hover {
    box-shadow: 0 0 30px 10px rgba(85, 244, 255, 1);
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 15px;
}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #55f4ff;
    background-color: #7a34c5;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 8px 10px 10px rgba(204, 41, 253, 0.78);;
}
.btn-group .btn:hover {
    background-color: #55f4ff;
    color: #000000;
    border-color: #55f4ff;
    box-shadow: 8px 10px 10px rgba(85, 244, 255, 0.78);
    transform: scale(0.7);
    transition: 0.3s ease-in-out;
}
.hero-text .socials i{
    color: #e5e5e5;
    font-size: 25px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .socials i:hover{
    color: blueviolet;
    border-radius: 80%;
    box-shadow: 8px 8px 8px rgba(204, 41, 253, 0.78);
    transform: scale(1.3);
    transition: 0.3s ease-in ;
}
input[type="text"],input[type="email"],input[type="email"]:focus,
input[type="text"]:focus,#message
{
    background: transparent;
    border: none;
    outline-width: 0;
    color:chartreuse;
    border-bottom: 2px solid blueviolet;
}
input[type="text"]::placeholder, input[type="email"]::placeholder,#message::placeholder{
    color: #55f4ff;
    opacity: 0.5;
    font-size: small;
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
        flex-direction: column-reverse;
    }
    .hero-text{
        padding: 40px 0px;
    }
}
